*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png")center/cover no-repeat;
}
body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    flex: 0 0 95%;
}
.screen{
    width: 100%;
    font-size: 6rem;
    padding: .5rem;
    background: rgb(41, 41, 56);
    color: whitesmoke;
    border: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all .5s linear;

}
button{
    flex: 1 0 25%;
    border: 1px solid black;
    padding: .25rem 0;
    transition: all 1s ease;
}
button:hover{
    background: blue;
}
.btn-yellow{
    background: rgb(245,146,62);
    color: white;
}
.btn-grey{
    background: rgb(224,224,224);
}
.btn,.btn-equal,.btn-clear{
    font-size: 4rem;
}
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}